# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# build outputs
dist/
build/
.next/
out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts

# backend specific (generic)
__pycache__/
*.py[cod]
.venv/
env/
venv/
ENV/
target/
.classpath
.project
.settings/
.idea/
.vscode/

